@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

.Dictionary{
    font-family: poppins;
}
h1 {
    text-align: center;
    margin: 20px;
}

h2{
    color:#ff5468 ;
}

form{
    display: flex;
    justify-content: center;
}

.searchForm {
    border-color: #ff5468;
    border-radius: 25px;
    border-style: solid;
    padding: 5px;
  }
  
  .submitButton {
    background-color: #ff5468;
    color: white;
    border-color: white;
    border-radius: 25px;
    border-style: solid;
    padding: 5px;
  }